pkgbase = wallflower-land
	pkgdesc = A social media client for readers and writers.
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/wallflower-app/wallflower-app.github.io
	arch = x86_64
	arch = aarch64
	license = All rights reserved
	depends = cairo
	depends = desktop-file-utils
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsoup
	depends = pango
	depends = webkit2gtk-4.1
	options = !strip
	options = !emptydirs
	source_x86_64 = https://github.com/wallflower-app/wallflower-app.github.io/releases/download/v1.0.0/appname_1.0.0_amd64.deb
	source_aarch64 = https://github.com/wallflower-app/wallflower-app.github.io/releases/download/v1.0.0/appname_1.0.0_arm64.deb

pkgname = wallflower-land
